@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media print {
    body {
        background-color: #dad7cd;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

}

html {
    scroll-behavior: smooth;
}

.section {
    padding: 8rem 2rem;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
}

#education-summary-section {
    background-color: #a3b18a;
}

#work-experience-internships-section {
    background-color: #dad7cd;
}

#programming-skills-section {
    background-color: #a3b18a;
}

#general-interests-section {
    background-color: #dad7cd;
}

#favorite-song-film-and-TV-show-section {
    background-color: #a3b18a;
}

#favorite-website-section {
    background-color: #dad7cd;
}

#my-projects-in-this-course-section {
    background-color: #a3b18a;
}

.top-page {
    background-color: #a3b18a;
    padding: 20px 0;
    text-align: center;
}

.top-page h3 {
    color: #588157;
}

.gif-section {
    position: relative;
    width: 100%;
    margin-top: -580px;
}

.gif-section img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    z-index: 10;

}

body {
    text-align: center;
    background-color: #dad7cd;
}

#basic-profile-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#basic-profile-info-section img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

#basic-profile-info-section table {
    width: auto;
    margin: 0 auto;
    text-align: left;
}

.highlight {
    color: #3a5a40;
    font-weight: bolder;
}

.menu-section {
    background-color: #a3b18a;
    width: 100%;
    margin-bottom: 580px;
}

.menu-section ul {
    list-style-type: none;
    padding: 0%;
    position: relative;
}

.menu-section li {
    list-style-type: none;
    display: block;
    position: relative;
}

.menu-section a {
    text-decoration: none;
    color: #3a5a40;
    padding: 20px 25px;
    display: block;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3 ease, color 0.3 ease;
}

.menu-section a:hover {
    background-color: #3a5a40;
    color: white;
    text-decoration: none;

}

.menu-section li:hover ul.dropdown {
    display: block;
}

.menu-section li ul.dropdown {
    width: 100%;
    background: #a3b18a;
    position: absolute;
    z-index: 999;
    display: none;
}

.btn-custom-green {
    background-color: #3a5a40;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}


.menu-section a {
    font-size: 16px;
    padding: 10px 15px;
}